.categories {
  display: flex;
  flex-direction: column;
  width: 250px;

  @media (max-width: 1000px) {
    margin-bottom: 50px;
  }

  &--title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (max-width: 1000px) {
      flex-direction: row;
    }
  }

  input {
    position: absolute;
    opacity: 0;

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }

    & + label:before {
      content: "";
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: white;
      border: 1px solid black;
      border-radius: 5px;
    }

    &:hover + label:before {
      background: white;
    }

    &:checked + label:before {
      background: black;
    }

    &:checked + label:after {
      content: "";
      position: absolute;
      left: 5px;
      top: 9px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white,
        4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
      transform: rotate(45deg);
    }
  }
}
